.logTitle{
    text-align: center;
    padding-top: 40px;
    color: navy;
}

.logBtn{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.logButton1, .regButton1{
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    border: none;
    box-shadow:   5px 10px 15px #c7c7c7;
    font-size: 20px;
    color: navy;
}
.logButton1{
    background-color: #E0BACF;
    
}

.inputField{
    height: 60px;
    margin-top: 10px;
    
}
.logP span {
    color:  rgb(255, 5, 222) ;
}

.logInBtn{
   height: 50px; 
   border-radius: 10px;
   background-image: linear-gradient(to right, rgb(255, 5, 222) , rgb(47, 34, 226));
   color: white;
  font-size: 20px;
}

@media (max-width: 767px){
    .logImg{
        display: none;
    }
    .logButton1, .regButton1{
        width: 100px;
    font-size: 16px;
    }
    
    .inputField {
        height: 50px;
        margin-top: 5px; 
      }
      .inputField::placeholder{
        font-size: 14px;
      }
      .logP{
        font-size: 14px;
      }
      .signUpBtn {
        font-size: 18px;
        height: 100%;
      }
      .logInBtn{
        font-size: 18px;
    height: 100%;
      }

     
}