*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    
}


nav{
    position: absolute;
    top: 0.2; 
    bottom: 0.2;  
    height: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* left: 0;  */
    background: grey;
    width: 150px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    

}

a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 16px;
    /* padding: 10px; */
}
.theme{
    position: absolute;
    bottom: 0;
}
.logoImg{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
